<footer>
    <div class="row foot v-center">
        <div class="col-sm-12 col-md-6 formu">
            <h4>Nous contacter</h4>

            {% if app.session.flashBag.has('notice') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('notice') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST" id="contact" action="{{ path('homepage') }}#contact">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">{{ form_label(form.name) }} :</span>
                    {{ form_widget(form.name, {'attr': {'tabindex': '1' , 'class': 'form-control' } }) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">{{ form_label(form.email) }} :</span>
                    {{ form_widget(form.email, {'attr': {'tabindex': '2' , 'class': 'form-control' } }) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">{{ form_label(form.object) }} :</span>
                    {{ form_widget(form.object, {'attr': {'tabindex': '3' , 'class': 'form-control' } }) }}
                    {{ form_errors(form.object) }}
                </div>

                {{ form_widget(form.message, {'attr': {'tabindex': '4' , 'class': 'form-control', 'cols': '30', 'rows': '8' } }) }}
                {{ form_errors(form.message) }}

                {{ form_rest(form) }}
                <div class="text-center submit-container">
                    <input class="btn btn-primary" type="submit" name="envoi" value="Envoyer !" />
                </div>
            </form>


        </div>
        <div class="col-md-2 col-md-offset-1 col-xs-offset-0 hidden-sm hidden-xs image">
            <img class="img-footer" src="{{ asset('bundles/app/img/photoExt1.jpg') }}"/>
        </div>

        <div class=" col-sm-12 col-md-3 schedule">
            {% set siteData = site|first %}
            <h3>Horaires : </h3>
            {{ siteData.schedule|raw }}
            {% if not siteData.isOpen %}
                Le magasin est exceptionnellement fermé aujourd'hui.
            {% endif %}
        </div>

    </div>

    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">@Com9Phone, 2017, tout droits réservé - mentions legales</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body ML">
                        {% include 'AppBundle:partials:mentions_legales.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>